@use "../../../data" as *;


.dropdown-option{
    position: relative;
}
.dropdown-option__option{
    display: flex;
    position: absolute;
    padding: 15px;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    flex-direction: column;
    gap: 10px;

    background-color: white;
    box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .15);
    transform-origin: center top;

    transition: transform $mid-h ease-in-out;
    
    .dropdown-option__option-item{
        transition: color $fast-h ease-in-out;
    }

    // hover
    .dropdown-option__option-item:hover{
        color: $black-h;
        cursor: pointer;
    }
}
.dropdown-option__select{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.dropdown-option__currency .dropdown-option__select{
    .dropdown-option__select-basic{
        margin-right: 4px;
        width: 22px;
        height: 22px;

        .dropdown-option__select-basic-icon{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

// hover
.dropdown-option__select:hover + .dropdown-option__option, .dropdown-option__option:hover{
    transform: translateX(-50%) scaleY(1);
}