@use "../../../data" as *;

.search, .cart{
    width: 25px;
    height: 25px;
    display: block;
    transition: opacity $fast-h ease-in-out;
}

.search__icon, .cart__icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

// hovers
.search:hover, .cart:hover{
    opacity: .65;
}


@media (max-width: $phone-break-450){
    .search, .cart{
        width: 21px;
        height: 21px;
    }
}