@use "../../../data" as *;

.burger-icon{
    width: 27.85px;
    height: 27.85px;
    margin: 5px 0px 0px 0px;
    padding: 0;
}
.burger__icon-close{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: $phone-break-450){
    .burger-icon{
        width: 14.85px;
        height: 14.85px;    
    }
}