// colors
$red: #DA1F39;
$gray: #939694;
$black: #000000;
$white: #F4F4F4;

//colors hovers

$red-h: #cf6674;
$gray-h: #737674;
$dark-gray: #565656;
$black-h: #616161; 
$white-h: #d6d6d6;

//font-families
$fm-dela: Dela, Arial, Helvetica, sans-serif;
$fm-raleway: Raleway, Arial, Helvetica, sans-serif;

// heads font styles
$h1-fs: 64px;
$h1-lh: 93px;

$h2-fs: 36px;
$h2-ln: 1.4;

// elements font styles
$button-fs: 16px;
$button-ln: 19px;

// media break points
$pc-break: 1280px;
$tablet-break: 1024px;
$phone-break-760: 760px;
$phone-break-450: 450px;

// transition
$fast-h: .15s;
$mid-h: .35s;
$long-h: .5s;